body {
    background: url("../images/1.jpg") center center/cover;

    height: 120vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.box {
    max-width: 600px;
    margin: 30px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    color: antiquewhite;
}

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    /* Matches navbar */
    color: white;
}

/* forms */

  .form-container {
    max-width: 600px;
    margin: 30px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: antiquewhite;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-control {
    font-size: 18px;
    padding: 12px;
    height: 40px;
    width: 300px;
  }

  .form-control::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
